/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/public/hot
/public/storage
/storage/*.key
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
**/build/
**/.gradle/
**/local.properties
.freebuff/desktop.db
.freebuff/desktop.db-shm
.freebuff/desktop.db-wal
.freebuff/preview-thms42afwy3on9.log
.freebuff/run.md
docs/Pseudocode_Arsitektur_PKK_Toba.pdf
docs/pseudocode-arsitektur-awam.html
docs/pseudocode-arsitektur-awam.md
